<div class="container">
	<p id="notice"><%= notice %></p>

	<h2>Hoşgeldiniz
		<% if current_user %>
			<%= current_user.first_name + ' ' + current_user.last_name %>
		<% end %>
	</h2>

	<% if current_user %>
		<% if current_user.admin %>
			<a class="btn btn-primary" href="user_logs" role="button">Zaman Kayıtlarını Listele</a>
		<% end %>
		<a class="btn btn-primary" href="user_logs/new" role="button">Zaman Kaydı Oluştur</a>
	<% end %>
</div>
